* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: auto;
  font-family: "Trebuchet MS", sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* nav-bar */
.nav-bar {
  position: fixed;

  width: 100%;
  height: 74px;
  background-color: #bfcadd;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  color: #4e4e4e;

  top: 0px;
}

.myPage {
  margin: 0 40px;
}

.myPage a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.page-menu {
  display: flex;
}

.page-menu-item {
  font-size: 24px;
  margin-right: 15px;
  cursor: pointer;

  padding: 8px 12px;
  margin: 0 4px;
}

.page-menu-item:hover {
  color: black;
}

.navbar__toggleBtn {
  position: absolute;
  right: 40px;
  font-size: 24px;
  display: none;
  color: #4e4e4e;
}

.main-skills,
.main-profile {
  margin-top: 40px;
  height: 100vh;
}

.main-projects {
  margin-top: 40px;
}

.main-contact {
  margin-top: 40px;
  height: 70vh;
}

/* main-contents */
.main-contents {
  max-width: 1200px;
  margin: auto;
}

/* main-profile */
.main-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;

  height: 50%;
}

.title {
  position: relative;
  font-size: 80px;
  transform: translateY(80px);
  color: #bfcadd;
  -webkit-text-stroke: 4px black;
}

.title-back-box {
  border: 7px solid #bfcadd;
  width: 330px;
  height: 102px;
  position: relative;
  z-index: -1;

  transform: translate(45px, -15px);
}

.main-profile-details-img img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.main-profile-details {
  width: 100%;
  height: 70vh;

  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
}

.main-skills-items {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
  /* flex-wrap: wrap; */
  margin: 40px 70px 0px 40px;
}

.fst {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.snd {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.main-skills-item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  align-items: center;
}

.main-skills-item i {
  font-size: 140px;
}

.whatIDone {
  border: 3px solid black;
  text-align: center;
  width: 200px;
  font-size: 20px;
}

/* main-projects */
.main-proejcts-items-wrapper {
  margin: 0px 20px 100px 20px;
}

.main-projects-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: relative;
  margin-top: 200px;
  width: 100%;
  padding-bottom: 10px;
}

.main-projects-item img {
  border: 2px solid black;
  width: 100%;
  height: 100%;
}

.ex {
  width: 640px;
  height: 360px;
  position: relative;
}

.project-item-desc {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;

  position: absolute;
  top: 0px;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: all 300ms;
}

.ex:hover .project-item-desc {
  opacity: 0.8;
  transform: translateY(0px);
}

.btnForLink {
  border: transparent;
  outline: transparent;
  background-color: transparent;
}

.btnForLink a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 40px;
}

.btnForLink a:hover {
  text-decoration: underline;
}

.main-projects-item:not(:first-child)::before {
  content: "";
  position: absolute;
  background-color: #4e4e4e;
  width: 50%;
  height: 2px;
  top: -75px;
  left: 300px;
}

.main-projects-item-title {
  font-size: 35px;
  margin-bottom: 30px;
}

.right {
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.project-details {
  margin-left: 40px;
  width: 70%;
}

.project-details p,
.project-languages span {
  font-size: 20px;
}

.project-details-title,
.project-languages-title {
  font-size: 35px;
}

.projects-item-img-notValid {
  width: 640px;
  height: 360px;
  background-color: #4e4e4e9b;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 25px;
}

/* main-contact */
.main-contact-items-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 40px;
}

.main-contact-items {
  list-style: none;
}

.main-contact-item {
  line-height: 70px;
  font-size: 23px;
}

.main-contact-item i {
  font-size: 40px;
  padding-right: 20px;
  vertical-align: middle;
}

.main-contact-item a {
  color: black;
  text-decoration: none;
}

.main-contact-item a:hover {
  text-decoration: underline;
}

.linkedin {
  color: #0270ad;
}

.mail {
  color: #0175d1;
}

/*footer*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #bfcadd;
  color: #4e4e4e;

  height: 10vh;

  font-size: 17px;
}

footer a {
  color: #4e4e4e;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  html,
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .nav-bar {
    margin: 0;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    height: 50px;
  }

  .myPage {
    text-align: center;
    flex-direction: column;
    align-self: center;
    width: 100%;
  }

  .page-menu {
    margin-top: 10px;
    flex-direction: column;
    width: 100%;
    text-align: center;
    display: none;

    background-color: #bfcadd;
  }

  .page-menu a {
    display: block;
  }

  .navbar__toggleBtn {
    display: block;
  }

  .page-menu.active {
    display: flex;
  }

  .main-contents {
    margin: 10px;
  }

  .main-contents-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  /* main-title */
  .title {
    font-size: 70px;
  }

  /* main-profile */
  .main-profile {
    width: 100%;
  }

  .main-profile-details {
    width: 100%;
    height: 100vh;
  }

  .main-profile-details-moreInfo {
    text-align: center;
    margin-top: 10px;
  }

  /* skills */
  .main-skills {
    width: 100%;
    height: 100%;
  }

  .snd,
  .fst {
    flex-direction: column;
  }

  .main-skills-item {
    margin-top: 40px;
  }

  .main-skills-item .whatIDone {
    border: 3px solid black;
    width: 100%;
    margin-top: 10px;
  }

  /* main-projects */
  .main-projects {
    width: 100%;
  }

  .main-projects-item {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .right {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .main-projects-item img {
    width: 50%;
    height: 100%;
    position: relative;
    left: 140px;
  }

  .project-item-desc {
    width: 50%;
    left: 140px;
  }

  .project-details p,
  .project-languages span {
    margin-bottom: 10px;
  }

  .main-projects-item:not(:first-child)::before {
    left: 100px;
  }

  .projects-item-img-notValid {
    width: 90%;
    position: relative;
    left: -20px;
  }

  .main-projects-item-title {
    text-align: center;
  }

  /* main-contact */
  .main-contact {
    width: 100%;
  }
  .main-contact-items {
    width: 90%;
  }

  .main-contact-item {
    font-size: 16px;
  }
}
